@import "tailwindcss";

@media print {
  @page {
    size: A4 portrait;
    margin: 15mm;
  }

  body {
    background: #fff !important;
    color: #000 !important;
  }

  .print\:break-after-page {
    page-break-after: always !important;
    break-after: page !important;
  }

  .print\:break-before-page {
    page-break-before: always !important;
    break-before: page !important;
  }
}
